<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<h1>Create Event</h1>
  <form action="create" method="post">
    <label>Enter event name:</br>
      <input type="text" name="eName"></br>
    </label>

    <label>Enter event description:<br>
      <input type="text" name="eDesc"></br>
    </label>

    <label>Enter event image link:<br>
      <input type="text" name="eImage"></br>
    </label>

    <input type="submit" value="Create Event">
  </form>
</body>
</html>